{% extends "invoice/base.html" %}
{% load bulma_tags %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box">
                    <h1 class="title is-3 has-text-centered">Account Detail</h1>

                    <div class="content">
                        <p><strong>Account ID:</strong> {{ account.id }}</p>
                        <p><strong>Name:</strong> {{ account.name }}</p>
                        <p><strong>Account Type:</strong> {{ account.account_type }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
