{% extends "invoice/base.html" %}
{% load bulma_tags %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box">
                    <h1 class="title is-3 has-text-centered">Add Transaction</h1>

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <input type="submit" class="button is-primary" value="Save">
                            </div>
                        </div>
                    </form>

                    <a href="{% url 'transactions' %}" class="button is-link">Back to Transactions</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
