<!-- ... (previous HTML content) ... -->

<h1>ARMED GUARD SECURITY SERVICES</h1>
<p>456 Defense Street, Safecity<br>
Phone: (555) 789-0123<br>
Email: info@armedguardsecurity.com<br>
Invoice Date: {{ invoice.invoice_date }}<br>
Due Date: {{ invoice.due_date }}</p>

<h2>Bill To:</h2>
<p>Client Name: {{ invoice.client_name }}<br>
Address: {{ invoice.client_address }}<br>
City: {{ invoice.client_city }} State: {{ invoice.client_state }} Zip: {{ invoice.client_zip }}</p>

<!-- ... (rest of the HTML content) ... -->
